.clients {
  padding-bottom: 45px;

  & .section-title {
    margin-bottom: 15px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.clients-item {
  width: calc((100% - 60px) / 2);
  margin: 15px;
}

.clients-icon {
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon:hover,
.clients-icon:focus {
  fill: #2196f3;
}

.clients-links {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-links:hover,
.clients-links:focus {
  border: 1px solid #2196f3;
}
.clients-links:hover svg,
.clients-links:focus svg {
  fill: #2196f3;
}
.clients-item:hover {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-bottom: 79px;

    &-list {
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    &-item {
      width: calc((100% - 90) / 6);
    }

    & .section-title {
      margin-bottom: 35px;
    }
  }
}
