$main-font: 'Roboto', sans-serif;
$secondary-font: 'Segoe UI', sans-serif;
$primary-text-color: #757575;
$secondary-text-color: #212121;
$primary-bg-color: #fff;
$secondary-bg-color: #f5f4fa;
$accent-color: #2196f3;
$footer-text-color: rgba(255, 255, 255, 0.6);
$footer-bg-color: #2f303a;
